extends: "eslint:recommended"

env:
  node: true
  browser: true

ecmaFeatures:
  jsx: true
  blockBindings: true
  classes: true
  modules: true

plugins:
  - react

rules:
  no-console: 0
  camelcase: 1
  new-cap: [0, { "capIsNew": true }]
  eol-last: 2
  quotes: [2, "single", "avoid-escape"]
  no-mixed-spaces-and-tabs: 2
  no-extra-semi: 2
  no-else-return: 1
  no-trailing-spaces: 2
  no-unused-vars: [1, {"args": "none"}]
  semi: 2
  semi-spacing: 2
  brace-style: [2, "1tbs", { "allowSingleLine": true }]
  react/jsx-boolean-value: 1
  react/jsx-quotes: [2, "double", "avoid-escape"]
  react/jsx-no-undef: 1
  react/jsx-sort-prop-types: 1
  react/jsx-uses-vars: 1
  react/no-did-mount-set-state: 1
  react/no-did-update-set-state: 1
  react/no-multi-comp: 1
  react/no-unknown-property: 1
  react/prop-types: 1
  react/self-closing-comp: 1
  react/wrap-multilines: 1
