
header {
  text-align: center;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header img {
  display: block;
  margin: 0 auto 20px;
}

header .title {
  display: block;
  font-size: 2em;
  font-weight: 700;
}

header .subtitle {
  font-size: 1em;
  font-weight: 300;
}
